@import '~antd/dist/antd.css';

.site-layout-content {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 24px;
  background: #fff;
}


.pokemons {
  display: grid;
  grid-gap: 3em 2em;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

.pokemons-search {
  margin-bottom: 2rem;
}

.pokemon {
  border: 1px solid #e2e2e2;
}

.pokemon.isActive {
  background-color:  #0c6ac2;
  border: 1px solid #0c6ac2;
  color: white;
}

.pokemon-figure {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-add {
  align-items: center;
  background-color: #1890ff;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  display: flex;
  height: 2.25em;
  justify-content: center;
  padding: 0.5em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 65%;
  transform: translateX(50%);
  width: 2.25em;
  color: white;
  cursor: pointer;
}

.pokemon.isActive .pokemon-add {
  display: none;
}

.pokemon-delete {
  align-items: center;
  background-color: #ff188b;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  display: flex;
  height: 2.25em;
  justify-content: center;
  padding: 0.5em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 65%;
  transform: translateX(50%);
  width: 2.25em;
  color: white;
  cursor: pointer;
}

.pokemon-title {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
.pokemon.isActive .pokemon-title {
  color: white;
}

.pokemon-types {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-type {
  border: 1px solid #0c6ac2;
  background-color: #1890ff;
  color: white;
  border-radius: 2px;
  padding: 2px;
  font-size: 0.74rem;
  margin-right: 3px;
}


.pokedex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
}

.pokedex-pokemon {
  border: 1px solid #0c6ac2;
  width: 100%;
  margin-bottom: 2rem;
}

.pokedex-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pokedex-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}